// FONT SIZES
$fontsize-largest: 3.6rem;
$fontsize-large: 3rem;
$fontsize-medium: 2.4rem;
$fontsize-small: 1.8rem;
$fontsize-smaller: 1.6rem;
$fontsize-smallest: 1.4rem;

// COLORS
$primary-color: #1071b9;
$secondary-color: #5e5e5e;
$tertiary-color: #1774b8;
$white: #fff;
$banner-text-color: #48b0fd;
$box-bgcolor: #e0e0e0;
$error-color: #ed2024;

// BREAKPOINTS
$breakpoint-1200: 1200px;
$breakpoint-767: 767px;
